spring:
  application:
    name: server

  datasource:
    generate-unique-name: false
  h2:
    console:
      enabled: true
      path: /h2-console

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080

#jdbc:h2:mem:testdb